html,body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}
body {
    font-size: 1rem;
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}
p {
    margin: 1rem 0;
}
a {
    padding: 5px;
    text-decoration: none;
    color: #000000;
}
div#header {
    background: -moz-linear-gradient(top, #187eb1 0%, #006599 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, #187eb1 0%,#006599 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #187eb1 0%,#006599 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #187eb1 0%,#006599 100%);
    /* W3C */
    margin-bottom: 3rem;
}
div#header h1 {
    height: 6rem;
    line-height: 6rem;
    margin: 0 auto;
    width: 1000px;
    font-family: "Arial Narrow",Arial,sans-serif;
}
#header h1 a {
    color: white;
}
div#container {
    text-align: left
}
div#content p {
}
div#navigation {
}
div#navigation ul {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
}
div#navigation li {
    margin-bottom: 5px;
}
div#container {
    width: 1000px;
    margin: 0 auto
}
div#wrapper {
    float: left;
    width: 100%;
    -webkit-box-shadow: 0 8px 8px -8px rgba(119, 119, 119, 0.3);
    -moz-box-shadow: 0 8px 8px -8px rgba(119, 119, 119, 0.3);
    box-shadow: 0 8px 8px -8px rgba(119, 119, 119, 0.3);
    padding-bottom: 6rem;
}
div#content {
    margin: 0 200px;
    padding: 0 30px;
}
div#navigation {
    float: left;
    width: 138px;
    margin-left: -1000px;
    padding: 0 30px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div#extra {
    float: left;
    width: 138px;
    margin-left: -200px;
    padding: 0 30px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div#footer {
    clear: left;
    width: 100%;
    padding-top: 1rem;
    text-align: center;
}
div#footer p {
    margin: 0;
    font-size: .8rem;
    color: #ccc;
}
